/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {*/
  
  /* CSS */
  
}

/* 
  for all mobile devices
*/

@media (max-width: 767px) {
  .container{
    width: 90%;
  }

  h2{
    font-size: 32px !important;
  }

  .navbar-section{
    display: none;
  }
  .first, .middle, .last{
    display: block;
    width: 100%;
    margin-bottom: 16px;
  }
  .top-header{
    padding: 32px 0px;
  }
  .banner-content h1{
    font-size: 44px;
  }
  .f-item-gallery{
    grid-template-columns: auto;
  }
  .f-item{
    margin-bottom: 32px;
  }
  .fc-gallery{
    display: flex;
    flex-direction: column;
  }
  .fc-item{
    flex-basis: 100%;
  }
  .products{*/
    width: 100px;
    padding: 0px;
  }
  .product-gallery{
    grid-template-columns: auto;
  }
  .second{
    background-position: inherit;
  }
  .features{
    padding-top: 100px;
    padding-bottom: 0px;
  }
  .deal-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 42px;
  }
  .partner-gallery{
    display: inline-block;
    margin-bottom: 32px;
  }
  .partner{
    text-align: center;
    padding: 50px;
  }
  .partner-gallery img{
    margin-bottom: 30px;
  }
  .sub-content{
    display: block;
    justify-content: space-between;
  }
  .footer-content{
    flex-direction: column;
  }
  footer{
    text-align: center;
  }
  .footer-1, .footer-2, .footer-3, .footer-4{
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1px solid #eee;
  }
  .d-flex{
    display: block;
  }
  .footer-icon{
    margin: 30px;
  }


}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

/*@media (min-width: 320px) and (max-width: 480px) {*/
  
  
}